.footer {
    background-color: $footer-bcg-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container{
      align-items: baseline;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;

      @media screen and (min-width: 768px) {
        gap: 0px;
      }
    }


    &__address {
      color: $main-bcg-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.69; /* 171.429% */
      letter-spacing: 0.42px;
      
      
    }

    &__address-box {
      
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-right: 165px;
        
        }
      
      @media screen and (min-width: 1200px) {
      margin-right: 70px;
      text-align: start;
      }
    }


    &__items {
      margin-top: 20px;
    }



    &__item {
      margin-bottom: 9px;
      font-style: normal;
    }
    
    &__item:last-child {
      margin-bottom: 0px;
    }
    
    &__link {
      color: $footer-text-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71; /* 171.429% */
      letter-spacing: 0.42px;
    }
    

    &__logo {
      display: inline-block;
      margin-bottom: 20px;
    }


    &__web {
      color: $accent-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }
    
    &__studio {
      color: $main-bcg-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }
    &__networks {
      text-align: center;

      @media screen and (min-width: 1200px) {
        text-align: start;
      }
    }
    
    &__title {
      color: $main-bcg-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    
    &__list {
      display: flex;
      gap: 10px;
    }
    
    &__element__link {
      display: flex;
      align-items: center;
      padding: 12px 12px 12px 12px;
      background-color: $footer-text-color;
      border-radius: 50%;
      transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);

      &:hover, &:focus {
        background-color: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }


    &__element__img {
      width: 20px;
      height: 20px;
      fill: $main-bcg-color;
    }


    &__mailing {
      
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-top: 60px;
      }
      
      @media screen and (min-width: 1200px) {
        text-align: start;
        margin-left: auto;
        margin-top: 0;
      }

    }


    &__mailing__signature {
      color: $main-bcg-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: block;
    }

    &__mailing__form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 12px;
        align-items: end;
      }
    }
    
    
    
    &__mailing__input {
      width: 100%;
      height: 50px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.30);
      background: rgba(33, 150, 243, 0.00);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      padding-left: 16px;


      @media screen and (min-width: 480px) {
       width: 450px;
      }


      @media screen and (min-width: 1200px) {
       width: 358px;
      }
    }
    
    &__mailing__input:focus {
      outline: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__mailing__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 50px;
      color: $main-bcg-color;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.88;
      letter-spacing: 0.96px;
      border-radius: 4px;
      background: $accent-color;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-left: auto;
      margin-right: auto;

      &:hover, &:focus {
        outline: none;
        
        color: $main-bcg-color;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &__mailing__img{
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            fill: $main-bcg-color;
        }
      }
    }

    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  .footer__mailing__img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $main-bcg-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }