

  .header{
    padding-top: 16px;
    padding-bottom: 16px;


    @media screen and (min-width: 768px) {
      padding-top: 21px;
    padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
    padding-bottom: 25px;
    }

    &__box {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: auto;

      @media screen and (min-width: 768px) {
        margin-right: 88px;
      }

      @media screen and (min-width: 1200px) {
        margin-right: 93px;
      }


      
    }

    &__web {
      color: $accent-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }

    &__studio {
      color: $logo-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }


    
    &__nav {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &__items {
      display: flex;
      gap: 50px;
    }

    &__item {
      position: relative;
    }

    &__link {
      color: $text-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &::after {
        content: '';
        position: absolute;
        bottom: -33.7px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
      }

      &:hover, &:focus, &:hover::after, &:focus::after {
        outline: none;
        opacity: 1;
        color: $accent-color;
      }
    }

    &__list {
      display: none;
      
      margin-left: auto;


      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
      }

      @media screen and (min-width: 1200px) {
        gap: 50px;
        flex-direction: row;
        align-items: center;
      }
    }

    &__contact {
      display: flex;
      gap: 10px;
      color: $footer-text-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

      &:hover, &:focus {
        color: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .header__img{
            fill: $accent-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      

    }

    &__img {
      width: 16px;
      height: 12px;
      margin-top: auto;
      margin-bottom: auto;
      fill: $footer-text-color;
    }

    &__elem:nth-child(2)  &__img {
      height: 16px;
    }
  }


  .current {
    color: $accent-color;
  }
  
  //======================================================================================================================
  
  .menu {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $main-bcg-color;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    z-index: 1;
  }
  
  
  .header__button {
    border: none;
    background: transparent;
    display: block;
    
    

    @media screen and (min-width: 768px) {
      display: none;
    }

  }

    
    .header__burger{
      fill: $logo-color;
      width: 40px;
    height: 40px;
    }

    .menu__button {
      background: transparent;
      border: none;
      position: absolute;
      top: 10px;
      right: 15px;
    }
    .menu__close {
      width: 20px;
      height: 20px;
    }

    
    .menu__list {
      padding-bottom: 210px;
    }
    
    .menu__link {
      color: $logo-color;

font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
    }

    .menu__link:hover, .menu__link:focus {
      color: $accent-color;

font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.8px;
    }

    .menu__list-contact {
      padding-bottom: 32px;
    }

    .menu__contact-link {
      color: $footer-text-color;
      gap: 32px;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
    }

    .menu__contact-link:hover {
      color: $accent-color;
      gap: 32px;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
    }

    .menu__list-social {
      display: flex;
      gap: 20px;
    }



  .menu__link-social {
    color: $accent-color;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 12px; /* 122.222% */
letter-spacing: 0.36px;
  }


    

  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
 /* .header__elem:nth-child(2) > .header__contact > .header__img {
    height: 16px;
  }
 */ 
  
  
