

  .header{
    padding-top: 16px;
    padding-bottom: 16px;


    @media screen and (min-width: 768px) {
      padding-top: 21px;
    padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
    padding-bottom: 25px;
    }

    &__box {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: auto;

      @media screen and (min-width: 768px) {
        margin-right: 88px;
      }

      @media screen and (min-width: 1200px) {
        margin-right: 93px;
      }
    }

    &__web {
      color: $accent-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }

    &__studio {
      color: $logo-color;
      font-family: Raleway;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.78px;
    }

    &__nav {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &__items {
      display: flex;
      gap: 50px;
    }

    &__item {
      position: relative;
    }

    &__link {
      color: $text-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &::after {
        content: '';
        position: absolute;
        bottom: -33.7px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
      }

      &:hover, &:focus, &:hover::after, &:focus::after {
        outline: none;
        opacity: 1;
        color: $accent-color;
      }
    }

    &__list {
      display: none;
      
      margin-left: auto;


      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
      }

      @media screen and (min-width: 1200px) {
        gap: 50px;
        flex-direction: row;
        align-items: center;
      }
    }

    &__contact {
      display: flex;
      gap: 10px;
      color: $footer-text-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

      &:hover, &:focus {
        color: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .header__img{
            fill: $accent-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
      

    }

    &__img {
      width: 16px;
      height: 12px;
      margin-top: auto;
      margin-bottom: auto;
      fill: $footer-text-color;
    }

    &__elem:nth-child(2)  &__img {
      height: 16px;
    }
  }


  .current {
    color: $accent-color;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
  
 /* .header__elem:nth-child(2) > .header__contact > .header__img {
    height: 16px;
  }
 */ 
  
  
