.goods {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid $barder-line;


    @media screen and (min-width: 1200px) {
       padding-top: 94px;
       padding-bottom: 94px;
    }

    &__list {
      display: flex;
      justify-content: start;
      gap: 8px;
      row-gap: 15px;
      margin-bottom: 40px;
      flex-wrap: wrap;


      
      @media screen and (min-width: 768px) {
      justify-content: center;

      }


      @media screen and (min-width: 1200px) {
      margin-bottom: 50px; 
      }
      
      
    }


    &__btn {
      color: $text-color;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.62; /* 162.5% */
      letter-spacing: 0.48px;
    
      border-radius: 4px;
      background: $team-background-color;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-right: 25px;
      padding-left: 25px;
      border: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


      &:hover, &:focus {
        color: $main-bcg-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62; /* 162.5% */
        letter-spacing: 0.48px;
        border-radius: 4px;
        background: $accent-color;
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        
      }
    }


    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }


    &__item {
    flex-basis: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }


    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }

    &:hover, &:focus-within {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 
                  0px 4px 4px rgba(0, 0, 0, 0.06), 
                  1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &:focus-within &__opacity {
    opacity: 1;
  }


  &__wrraper {
    position: relative;
    overflow: hidden;
  }


  &__img {
    width: 100%;
  }


  &__opacity {
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    padding: 63px 24px;
    top: 0px;
    left: 0px;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
  }


  &__opacity__text {
    color: $main-bcg-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.54px;
  }
  
  &__box {
    border: 1px solid $barder-line;
    border-top: none;
    /*width: 370px;*/
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  &__caption {
    color: $logo-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
  }
  
  &__text {
    color: $footer-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.48px;
  }
  }
  
  .goods__item:hover,.goods__item:focus{
    .goods__opacity{
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  
  
  

  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  