
    $accent-color: #2196F3;
    $logo-color: #000000;
    $text-color: #212121;
    $main-bcg-color: #FFFFFF;
    $footer-text-color: #757575;
    $team-background-color: #F5F4FA;
    $footer-number:rgba(255, 255, 255, 0.60);
    $footer-bcg-color: #2F303A;
    $barder-line: #ECECEC;
    $svg-color: #AFB1B8;
